# Dependencies
node_modules

# Builds
.next
out
dist
build
coverage

# VCS
.git
.gitignore

# Env and configs
.env
.env.*
*.local
.next/cache

# OS/editor
.DS_Store
.vscode
.eslintcache

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache 